In [1]:
import re
import numpy as np
import pandas as pd
from happytransformer import HappyTextToText
from happytransformer import TTSettings
import language_tool_python
tool = language_tool_python.LanguageTool('en-US')

Check if the sentence is Grammatically correct: Please use any pre-trained model or use text from open datasets. Once done, please evaluate the English Grammar in the text column of the below dataset.

In [19]:
df = pd.read_csv(r"D:\NextLabs\review_data.csv")
df.head()

,text,star,app_id,reviewDate
0,Anathi Khanyile,5,com.fingersoft.hillclimb,18/03/21
1,Tony bahut funny hai Hill climbing racing my f...,5,com.fingersoft.hillclimb,18/03/21
2,Teturwu,1,com.fingersoft.hillclimb,18/03/21
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,5,com.fingersoft.hillclimb,18/03/21
4,This game is nice,5,com.fingersoft.hillclimb,18/03/21

In [23]:
print("Null data in the train dataset:\n", df.isnull().any())

Null data in the train dataset:
 text           True
star          False
app_id        False
reviewDate    False
dtype: bool

In [25]:
df[df['text'].isnull()]

      text  star                  app_id reviewDate
14781  NaN     5  org.telegram.messenger   19/03/21

In [26]:
df = df.dropna()

In [6]:
happy_tt = HappyTextToText("T5", "vennify/t5-base-grammar-correction")

06/07/2022 20:15:30 - INFO - happytransformer.happy_transformer -   Using model: cpu

In [7]:
args = TTSettings(num_beams=5, min_length=1)

In [27]:
df['correct_sentence'] = df['text'].apply(lambda x: happy_tt.generate_text("grammar: " + x, args=args).text)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df.head(10)

,text,star,app_id,reviewDate,correct_sentence
0,Anathi Khanyile,5,com.fingersoft.hillclimb,18/03/21,Anathi Khanyile Anathi Khanyile Anathi Khanyil...
1,Tony bahut funny hai Hill climbing racing my f...,5,com.fingersoft.hillclimb,18/03/21,Tony Bahut funny hai Hill climbing racing is m...
2,Teturwu,1,com.fingersoft.hillclimb,18/03/21,Teturwu.
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,5,com.fingersoft.hillclimb,18/03/21,Hooooooooooooooyaaaaaaaaaaaaa what a game hooo...
4,This game is nice,5,com.fingersoft.hillclimb,18/03/21,This game is nice.
5,Rahulyadavo,5,com.fingersoft.hillclimb,18/03/21,"Rahulyadavo, Rahulyadavo, Rahulyadavo, Rahulya..."
6,"First thing is that I like this game, it's fan...",4,com.fingersoft.hillclimb,18/03/21,"First thing is that I like this game, it's fan..."
7,Very taty,3,com.fingersoft.hillclimb,18/03/21,Very nice.
8,good,5,com.fingersoft.hillclimb,18/03/21,Good luck! good luck! good luck! good luck! go...
9,I LIKE THIS GAME,5,com.fingersoft.hillclimb,18/03/21,I LIKE THIS GAME.

In [29]:
df[['text','correct_sentence']]

,text,correct_sentence
0,Anathi Khanyile,Anathi Khanyile Anathi Khanyile Anathi Khanyil...
1,Tony bahut funny hai Hill climbing racing my f...,Tony Bahut funny hai Hill climbing racing is m...
2,Teturwu,Teturwu.
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,Hooooooooooooooyaaaaaaaaaaaaa what a game hooo...
4,This game is nice,This game is nice.
...,...,...
29995,Plz my Vidos viral,Plz my Vidos viral.
29996,Nice,Nice. Nice. Nice. Nice. Nice. Nice. Nice. Nice...
29997,Disturbing too much as YouTube ad,Disturbing too much as YouTube ads.
29998,Koub valo vai,Koub valo vai!
29999,I want to grow my account,I want to grow my account.

In [30]:
df[['text','correct_sentence']][df['text'] != df['correct_sentence']]

,text,correct_sentence
0,Anathi Khanyile,Anathi Khanyile Anathi Khanyile Anathi Khanyil...
1,Tony bahut funny hai Hill climbing racing my f...,Tony Bahut funny hai Hill climbing racing is m...
2,Teturwu,Teturwu.
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,Hooooooooooooooyaaaaaaaaaaaaa what a game hooo...
4,This game is nice,This game is nice.
...,...,...
29995,Plz my Vidos viral,Plz my Vidos viral.
29996,Nice,Nice. Nice. Nice. Nice. Nice. Nice. Nice. Nice...
29997,Disturbing too much as YouTube ad,Disturbing too much as YouTube ads.
29998,Koub valo vai,Koub valo vai!
29999,I want to grow my account,I want to grow my account.

In [32]:
df['language_tool_correct_sentence'] = df['text'].apply(lambda x: language_tool_python.utils.correct(x, tool.check(x)))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
df[['text','language_tool_correct_sentence']][df['text'] != df['language_tool_correct_sentence']]

,text,language_tool_correct_sentence
0,Anathi Khanyile,Anti Handle
1,Tony bahut funny hai Hill climbing racing my f...,Tony Beirut funny HAI Hill climbing racing my ...
2,Teturwu,Return
6,"First thing is that I like this game, it's fan...","First thing is that I like this game, it's fan..."
7,Very taty,Very Tate
...,...,...
29987,good app,Good app
29988,good....very good......excellent,Good....very good......excellent
29989,This is a super cool app and you can take cool...,"This is a super cool app, and you can take coo..."
29995,Plz my Vidos viral,Please my Videos viral
29998,Koub valo vai,KOB halo vie